<form action="/sys/units" method="post">
<table class="input-table">
  <tr>
    <td class="lt"><%=t "sys.unit.code" %></td>
    <td class="rt"><input class="input-text input-60" name="unit[code]" maxlength="20"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.unit.name" %></td>
    <td class="rt"><input class="input-text input-120" name="unit[name]" maxlength="50"/></td>
  </tr>
</table>
</form>