<form action="/sys/menus" method="post">
<table class="input-table">
  <tr>
    <td class="lt"><%=t "sys.menu.code" %></td>
    <td class="rt"><input class="input-text input-60" name="menu[code]" maxlength="20"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.menu.name" %></td>
    <td class="rt"><input class="input-text input-120" name="menu[name]" maxlength="50"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.menu.url" %></td>
    <td class="rt"><input class="input-text input-240" name="menu[url]" maxlength="100"/></td>
  </tr>
  <!--tr>
    <td class="lt"><%=t "sys.menu.parent_code" %></td>
    <td class="rt">
      <div class="adv-search adv-search-input"
        url="/sys/menus/page"
        pros="code"
        params="menu[code]"
        name="menu[parent_code]"
        value="">
      </div>
    </td>
  </tr-->
</table>
</form>