<form action="/sys/currencies" method="post">
<table class="input-table">
  <tr>
    <td class="lt"><%=t "sys.currency.code" %></td>
    <td class="rt"><input class="input-text input-60" name="currency[code]" maxlength="20"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.currency.name" %></td>
    <td class="rt"><input class="input-text input-120" name="currency[name]" maxlength="50"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.currency.full_name" %></td>
    <td class="rt"><input class="input-text input-240" name="currency[full_name]" maxlength="200"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.currency.iso_code" %></td>
    <td class="rt"><input class="input-text input-60" name="currency[iso_code]" maxlength="200"/></td>
  </tr>
</table>
</form>